{% extends "base.html" %}
{% block page_content %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Display 4</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="d-block mx-auto img-fluid"
                                       src="https://static.pingendo.com/img-placeholder-1.svg" width="200" height="200">
            </div>
            <div class="col-md-8">
                <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
                <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to
                    dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with
                    longing.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="d-block mx-auto img-fluid"
                                       src="https://static.pingendo.com/img-placeholder-1.svg" width="200" height="200">
            </div>
            <div class="col-md-8">
                <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
                <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to
                    dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with
                    longing.</p>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock %}