{% extends "base_fluid.html" %}
{% load static %}
{% block page_content %}


<head>
    <{% block title %}About{% endblock %}>
    <meta charset="utf-8">
    <meta name="viewport" content="width=dASAsSevice-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body style="font-family:'Open Sans'">
<div class="py-5 text-center"
     style="background-image: url({% static 'img/about_header.png'%}); alt='Responsive image';background-position: center center, center center;  background-size: cover, cover; ">
    <div class="container-fluid">
        <div class="row">
            <div class="p-5 mx-auto col-md-8 col-10">
                <h2 class="display-3 mb-4 text-center" style="color:#66fcf1;font-family:'Open Sans'"> Who am I? </h2>
                <p class="mb-3 lead" style="color:#c5c6c7;font-family:'Open Sans'">The person behind this site </p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="{% static 'img/goal-icon.png'%}" width="200"></div>
            <div class="col-md-8">
                <h2 class="" style="color:#66fcf1;font-family:'Open Sans'">
                    My goals<small class="text-muted"></small>
                </h2>
                <UL class="text-justify" style="color:#c5c6c7;font-family:'Open Sans'">
                    <LI>As most Developers, I like solving problems and create solutions for underoptimized processes.
                    <LI>I want to work with newest technologies and document my journey along the way. And that's
                        exactly what I'll use this website for. ¯\_(ツ)_/¯
                </UL>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="" style="color:#66fcf1;font-family:'Open Sans'">
                        Who am I? <small class="text-muted"></small>
                    </h2>
                    <UL class="text-justify" style="color:#c5c6c7;font-family:'Open Sans'">
                        <LI>I was born and raised in Hungary, Europe
                        <LI>So far I have worked as Machine Learning Engineer for a partner company of Deutsche Telekom,
                            then I started to work as a DevOps Specialist for the biggest telco company in Malta
                        <LI>I've moved to Malta to experience other cultures as well, I'd like to have an open mind
                            and travelling helps me achieving it
                        <LI>I also have an MSc of Electrical Engineering so the statistics and math behind Data Science
                            wont scare me away!
                    </UL>
                </div>
            </div>
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="{% static 'img/developer-icon.png'%}" width="200"></div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="{% static 'img/knowledge-icon.png'%}" width="200"></div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="" style="color:#66fcf1;font-family:'Open Sans'">Experience
                        <small class="text-muted"></small>
                    </h2>
                    <UL class="text-justify" style="color:#c5c6c7;font-family:'Open Sans'">
                        <LI>So far I have worked on Machine Learning systems in a multinational environment. First as a
                            Data Scientist then as a Machine Learning Engineer
                        <LI>At the moment I work as a DevOps Specialist for GO, a maltese telco company, building and
                            optimizing workflows for in-house software development
                        <LI>System design always fascinated me, isn't it cool when you design a complex and robust
                            system for other people to use
                            during their everyday life?
                        <LI>On the other hand, I could just keep on coding all day, in complete immersion in Flow state
                    </UL>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="" style="color:#66fcf1;font-family:'Open Sans'">Freetime
                        <small class="text-muted"></small>
                    </h2>
                    <UL class="text-justify" style="color:#c5c6c7;font-family:'Open Sans'">
                        <LI>When I am not working on something I try to relax and recharge as much as possible
                        <LI>I like travelling to new places with my girlfriend and meeting new cultures. Trying out the
                            local
                            foods is the best way to get a better picture of the way the locals live. :)
                        <LI>I'm trying to keep up-to-date with the latest tech, which requires a lot of research
                        <LI>Other than that I spend my time playing video games or doing some exercise
                    </UL>
                </div>
            </div>
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="{% static 'img/hobby-icon.png'%}" width="200"></div>
        </div>
    </div>
</div>
</body>

{% endblock %}