{% extends "base_fluid.html" %}
{% block page_content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=dASAsSevice-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<div class="py-5 text-center"
     style="background-image: url(&quot;https://static.pingendo.com/cover-bubble-dark.svg&quot;); background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="bg-white p-5 mx-auto col-md-8 col-10">
                <h3 class="display-3">I feel the charm</h3>
                <p class="mb-3 lead">Of existence in this spot</p>
                <p class="mb-4">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so
                    absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="https://static.pingendo.com/img-placeholder-1.svg" width="200"></div>
            <div class="col-md-8">
                <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
                <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem to
                    dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with
                    longing.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
                    <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem
                        to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often
                        think with longing.</p>
                </div>
            </div>
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="https://static.pingendo.com/img-placeholder-1.svg" width="200"></div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="https://static.pingendo.com/img-placeholder-1.svg" width="200"></div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
                    <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem
                        to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often
                        think with longing.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
                    <p class="">Paragraph. Then, my friend, when darkness overspreads my eyes, and heaven and earth seem
                        to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often
                        think with longing.</p>
                </div>
            </div>
            <div class="col-md-4"><img class="img-fluid d-block mx-auto"
                                       src="https://static.pingendo.com/img-placeholder-1.svg" width="200"></div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
        style=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"
        style=""></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        style=""></script>
</body>

{% endblock %}