{% extends "base_fluid.html" %}
{% load static %}
{% block page_content %}
{% load widget_tweaks %}


<head>
    <meta charset="utf-8">
    <{% block title %}Whatson_Result{% endblock %}>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css" rel="stylesheet">
</head>


<div class="py-3" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br><br>
                <h2 class="text-center" style="color:#66fcf1;font-family:'Open Sans'">DEMO PLACEHOLDER PAGE </h2>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}