{% extends "base_fluid.html" %}
{% load static %}
{% block page_content %}
{% load widget_tweaks %}


<head>
    <meta charset="utf-8">
    <{% block title %}Token Predict{% endblock %}>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css" rel="stylesheet">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function() {
      Bokeh.embed.embed_item({{plot|safe}});
    });








    </script>

</head>


<div class="py-3" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br><br>
                <h2 class="text-center" style="color:#66fcf1;font-family:'Open Sans'">WoW Token Prediction</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="lead" style="color:#c5c6c7;font-family:'Open Sans'"> The ARIMA model was trained on US WoW
                    token price data. It consists of more than 2 years of entries.
                    <br><br>
                    Through this project I've learned a bit about the usage of ARIMA predictor, but the most important
                    skill that I've acquired is the knowledge on Bokeh and how I can implement custom plots into Django
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-3">
    <div class="container">
        <form action="token_predict" class="form-horizontal text-center" method="post" role="form"
              style="color:#c5c6c7;font-family:'Open Sans'">
            {%csrf_token%}
            {% for field in form %}
            {% if field.errors %}
            <div class="form-group has-error">
                <label class=" control-label " for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="row">
                    <div class="col-lg-2" style="float:none;margin:auto;">
                        {{ field|attr:"class:form-control" }}
                    </div>
                </div>
            </div>

            {% else %}
            <div class="form-group text-center">
                <label class="col-md-3 control-label text-center" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="row">
                    <div class="col-lg-2" style="float:none;margin:auto;">
                        {{ field|attr:"class:form-control" }}
                        {% if field.help_text %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="form-group">
                <div class="text-center ">
                    <button class="btn btn-primary" type="submit">Predict</button>
                </div>
            </div>
        </form>

    </div>
</div>

{% if data %}
<div class="py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#66fcf1;font-family:'Open Sans'">Result</h1>
            </div>
        </div>
    </div>
</div>

<div class="py-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="plot"></div>
            </div>
        </div>
    </div>
</div>


<div class="py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead" style="color:#c5c6c7;font-family:'Open Sans'"> For the first few days the model returns
                    realistic values, after that the results won't reflect the real word data
                </p>
            </div>
        </div>
    </div>
</div>


<div class="py-5 text-center">
    <div class="container" style="color:#c5c6c7;font-family:'Open Sans'">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr style="background-color:#0b0c10;color:#66fcf1;font-family:'Open Sans'">
                        <th>Day</th>
                        <th>Price of the token</th>

                    </tr>
                    </thead>
                    <tbody style="color:#c5c6c7;font-family:'Open Sans''">
                    <tr>
                        {% for i in data %}

                        <td>{{ i.day }}</td>
                        <td>{{ i.prediction|stringformat:".2f" }}</td>


                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endif %}


{% endblock %}